* {
    margin:0; padding:0;
    font-size:inherit;
    color:inherit;
    -webkit-font-smoothing: antialiased;
}
button::-moz-focus-inner {padding:0;border:0;}

a {outline:none;
    text-decoration:none;
    font-size:11px;
}

ul {list-style: none;
}

img {border:none;}

html {
    height: 100%;
}


body {
    height: 100%;
}



.navbar-default {
    background:   rgba(57, 68, 75,.85);
    background-image: none;
    box-shadow: none;
    border: none;
    height: 150px;
}

.navbar-collapse {
    padding: 65px 0;
}

.navbar-brand img {
    width: 50%%;
    padding: 55px 0;
}

.site-header {
    background: url(../images/banner.png) no-repeat 0 0;
    background-size: cover;

}


.hero-heading {
    text-align: center;
    margin: 250px 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
    line-height: 100px;
}

h1 span {
    background-color: #4a555d;
    padding: 18px;
}

.navbar-default .navbar-nav li {
    margin-left: 15px;
}

.navbar-right {
    margin: 0;
}

.navbar-default .navbar-nav li a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 17px;
}

.navbar-default .navbar-nav li a:hover {
    color: #4bcaff;
    transition: 0.5s;
}

a.active {
    border: 2px solid #4bcaff;
    color: #4BCAFF;

}

.blue {
    background-color: #4bcaff;
    padding: 80px 0;
}

.stn-heading {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    padding-left: 12px;
    padding-bottom: 50px;
}

.stn-heading:after {
    content: '___';
    position: absolute;
    color: #fff;
    margin-left: -150px;
    padding-top: 10px;
}

.info h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 19px;
}

.info p {
    font-size: 12px;
    color: #fff;
}

.white {
    background-color: #fff;
    padding: 95px 0;

}

.btn-heading {
    position: relative;
    margin: 0;
    display: inline-block;
    color: #515f67;
    text-transform: uppercase;
    font-size: 30px;
    padding-left: 12px;
    padding-bottom: 93px;

}

.btn-heading:after {
    content: '___';
    position: absolute;
    color: #515f67;
    margin-left: -171px;
    padding-top: 10px;
}

.navbar-nav-two {
    padding-top: 200px;
}



.navbar-right-two li a {
    color: #69747b;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 17px;
}

.navbar-right-two li a:hover {
    background: none;
    color: #4bcaff;
    transition: 0.5s;
}

.thumbs-row a img {
    width: 100%;
}

.thumbs-row a {
    display: block;
    position: relative;
    opacity: .8;
    color: #fff;
    font-size: 72px;
    text-align: center;
}

.thumbs-row a:after {
    position: absolute;
    content: "+";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.60);
    line-height: 1px;
    opacity: 0;
    transition: 0.3s;
}

.thumbs-row a:hover:after {
    opacity: 1;
    line-height: 270px;
}



.thumbs-row, .col-md-3 {
    margin-bottom: 30px;
}


.grey {
    background-color: #515f67;
    padding: 80px 0;
}

.spn-heading {
    position: relative;
    margin: 0;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 52px;
}

.spn-heading:after {
    content: '___';
    position: absolute;
    color: #fff;
    margin-left: -355px;
    padding-top: 10px;
}

.col-md-5 p{
    color: #fff;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 25px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-ghost {
    display: inline-block;
    text-transform: uppercase;
    color: #353f46;
    border: 2px solid #353f46;
    transition: 0.3s;
    padding: 15px 40px;
}

.btn-ghost:hover {
    text-decoration: none;
    color: #fff;
    border-color: #fff;
}

.twitter {
    background-color: #4bcaff;
    padding: 80px 0;
}

.spn-twitter {
    position: relative;
    margin: 0;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 52px;
}

.spn-twitter:after {
    content: '___';
    position: absolute;
    color: #fff;
    margin-left: -130px;
    padding-top: 10px;
}

.cookie {
    color: #fff;
    font-size: 28px;
}

.col-md-1 a i {
    color: #fff;
    font-size: 30px;
    padding-top: 80px;
}

.john-doe {
    background: url(../images/john-doe.png) no-repeat 0 0;
    background-size: cover;
    padding: 80px 0;
}

.spn-john {
    position: relative;
    margin: 0;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    padding: 0 0 52px 15px;
}

.spn-john:after {
    content: '___';
    position: absolute;
    color: #fff;
    margin-left: -290px;
    padding-top: 10px;
}

.social-text {
    padding-bottom: 38px;
}

.col-md-6 p {
    font-size: 14px;
    color: #fff;
    padding-bottom: px;
}

.social a i {
    border: 2px solid #FFF;
    color: #fff;
    font-size: 30px;
    padding: 19px 19px;
    margin: 40px 20px 0 0;
}

.testimonials {
    background-color: #fff;
    padding: 80px 0;
}

.spn-white {
    position: relative;
    margin: 0;
    display: block;
    color: #1e1e1e;
    text-transform: uppercase;
    font-size: 30px;
    padding: 0 0 52px 15px;
}

.spn-white:after {
    content: '___';
    position: absolute;
    color: #1e1e1e;
    margin-left: -217px;
    padding-top: 10px;
}

.wafer {
    color: black;
    font-size: 28px;
    padding-bottom: 30px;
}

.col-md-11 a {
   color: #4bcaff;
    font-size: 14px;
    text-decoration: none;
}